<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <h1>Bem-vindo. Veja os anões da sua preferência</h1>
    <p>Desejamos uma ótima experiência com LittleOnes!</p>
    <h2>Anões</h2>
  
    <div class="card-container">
      <div class="dwarf-card">
        <img src="/images/anao1.png" alt="Anão 1">
        <p>Thorin Escudo de Carvalho</p>
      </div>
      <div class="dwarf-card">
        <img src="/images/anao2.png" alt="Anão 2">
        <p>Gimli Filho de Glóin</p>
      </div>
    </div>
  
    <footer>
      <p>&copy; 2025 LittleOnes. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>